# Analyze (FFT/fold) dedispersed timeseries produced using build_dedispts_from_fil.py or build_dedispts_from_psrfits.py and break into subbands if specified.

[data]
DM = 1770.0 ; Dispersion measure used for generating timeseries, if dedispersed. (d: 0.0)
npy_file = guppi_58702_20270_BLGCsurvey_Cband_A00_0031_pulseprof_DM1770.0.npy; .npy file output by build_dedispts_from_fil.py or build_dedispts_from_psrfits.py
NPY_DIR = /home/ella1/asuresh/BL_GC_Survey/PulseProf/A00_0031_58702/ ; Path to .npy file

[output]
basename = guppi_58702_20270_BLGCsurvey_Cband_A00_0031_pulseprof_DM1770.0 ; Basename for output plots or data products
OUTPUT_DIR = /home/ella1/asuresh/Pipeline/Npy/; Output path (created if non-existent)

[plotting]
show_plot = ; Do you want to view the plots live during execution? (True/False) (d: False)
plot_format = ; Format of output plot (d: .png)

[chop_time]
do_chop_time = ; Do you want to chop the time axis? (True/False) (d: False)
start_time =    ; Start time (s) (d:0)
stop_time =     ; Stop time (s) (d: End of data)

[block_averaging]
do_blkavg = True; Block average data along time? (True/False) (d: False)
blkavg_time_factor = 2; Block averaging factor (integer) along time. If float, rounding to nearest integer is performed. (d: 1)

# Timeseries detrendin
[detrending]
do_detrend = True; Do you want to detrend the timeseries using a Savitzky-Golay filter? (d: False)
window_length_time = 1.0 ; Window length in units of time  (s) (d: 1.0)
poly_degree = 1    ; Polynomial degree (integer >= 1) (d: 1)

[normalization]
do_normalize = True ; Do you want to normalize the timeseries to zero median and unit variance? (d: False)

# Mask noise floor (<= median + N*sigma) of timeseries with zeros.
[timeseries_clipping]
do_clipping = True; Perform time series clipping? (d: False)
sigmaclip = 5.0 ; N. of standard deviations above median to set as clipping threshold (d: 3.0)

# Plot FFT of timeseries and label signficant peaks.
[FFT]
do_FFT = True; Take FFT of timeseries and plot it? (True/False) (d: False)
Nfft = ; Length of FFT in number of time samples (d: length of timeseries)
outliers_only = ; Include points at median + N*sigma only for FFT? (True/False) (d: False)
N_sigma =  ; Timeseries entries with fluxes > N*sigma + median are treated as outliers. (d: 3.0)
# FFT plotting parameters
max_fourierfreq_plot = 100; Max fourier frequency (Hz) to be shown in plot (d: 100.0)
special_fourierfreq = 0.2656936554; Any specific fourier frequency (Hz) to indicate via a vertical dashed line in FFT (d: None)

# Fold over a range of trial periods and maximize a specified metric to determine optimal folding period.
[time_fold]
do_timeseries_fold = True; Perform time-domain periodicity search? (True/False) (d: False)
bins_min =   ; Minimum no. of phase bins across folded profile (d: 128)
P_min = 3.2  ; Lowest trial period (s)
P_max = 4.2  ; Highest trial period (s)
metric = reducedchisquare ; Metric (reducedchisquare / profmax / profSNR) to maximize for identifying optimal folding period (d: reduced chi square)
do_fold_rotations = True; Plot folded time series per pulsar rotation period optimized using above metric? (True/False) (d: False)
